<title>API TEST</title>
<body>
  <script>
    var x = new XMLHttpRequest();
    x.open("GET", "http://localhost:8080/api/v1/locker", true,//"https://api.iniad.org/api/v1/iccards/3", true,
           "itakuramae.masashi", "toyoteacherpw");
    x.withCredentials = true;
    x.responseType = "json";
    x.addEventListener("load", (ev) =>
      document.write(JSON.stringify(ev.target.response)), false);

    var data = new FormData();
    data.append("comment", Math.random());
    x.send(data);
  </script>
</body>
